extends layout

block content
  div(class="container")
    div(class="row")
      h1 Thank you for applying!
      h3 We look forward to reviewing your application.
      form(action="/" method="GET")
        button(class="btn btn-primary") Back Home