extends layout

block content
  div(class="container")
    div(class="row")
      div(class="span12")
        h1 TEDx Northwestern U 2014 Speaker Application
    div(class="row")
      div(class="span6")
        p <strong>Applications are now closed. We will notify those selected to speak soon!</strong>
    