extends layout

block content
  div(class="container")
    div(class="row")
      h1 Uh oh!
      h3 There was a problem with your application. Please try again.
      form(action="/apply")
        button(class="btn btn-danger") Apply