extends layout

block content
  div(class="container")
    div(class="row")
      div(class="span12")
        h1 TEDx Northwestern U 2014 Speaker Application
    div(class="row")
      div(class="span6")
        //- p TEDX NorthwesternU 2014 will highlight the innovative ideas of the Northwestern University community with “genius talks” from three faculty members, three students and three alumni with the theme, “Crossing Paths.” This  day-long live experience April 12, 2014 will tell the story of innovation and thought leadership at Northwestern on Evanston’s campus and also livestreamed to an audience worldwide and later on TED.com.
        //- p To apply, please create a video <strong>no longer than 1 minute in length</strong> and answer the questions below. You may host the video on YouTube or Vimeo. Send us the link and if necessary, use the password "tedxnu."
        //- p In your description, please include up to three links to supplement your submission such as your website, published works or videos, or your resume or CV.
        p <strong>Applications are now closed. Selected speakers will be notified soon!</strong>
    //- form(action="/apply" method='POST')
    //-   div(class="row")
    //-     div(class="span3")
    //-       p Name:
    //-       input(type="text" placeholder="First Last" name="name")
    //-     div(class="span3")
    //-       p Email Address:
    //-       input(type="email" placeholder="myname@u.northwestern.edu" name="email")
    //-   div(class="row")
    //-     div(class="span3")
    //-       p Select one:
    //-       select(class="form-control" name="status")
    //-         option(name="student") Student
    //-         option(name="faculty") Faculty
    //-         option(name="alum") Alum
    //-   div(class="row")
    //-     div(class="span6")
    //-       p Title of your talk (this need not be finalized):
    //-       input(type="text" class="span6" placeholder="" name="title")
    //-   div(class="row")
    //-     div(class="span6")
    //-       p Link to your video (no longer than 1 minute in length):
    //-       input(type="text" class="span6" placeholder="http://www.youtube.com/..." name="video_link")
    //-   div(class="row")
    //-     div(class="span6")
    //-       p In 100 words or less, describe your idea worth sharing and how it pertains the theme "Crossing Paths."
    //-       textarea(class="form-control span6" rows="5" name="description")
    //-   div(class="row")
    //-     div(class="span6")
    //-       p In 100 words or less, tell us why you are the right person to speak about this topic at TEDx NorthwesternU?
    //-       textarea(class="form-control span6" rows="5" name="rightperson")
    //-   div(class="row")
    //-     div(class="span6")
    //-       input(type="submit" class="btn btn-primary" value="Submit Application")


