extends layout

block content
  div(class="container")
      h1(id="header_name") Join us


  div(class="row homepage-section")
    div(class="container")
      div(class="row")
        //- HEADER
        div(class="span8 offset1")
          h1 Attending TEDxNorthwesternU 2014
          p(class="lead") TEDxNorthwesternU 2014 is the first-ever collection of showcased speakers selected from the wider Northwestern University community including faculty, students and alumni. Following the theme, Crossing Paths, each of the 12 speakers will present an original idea based on research, experience and insight ready to engage the audience in a live format. Topics vary widely from astronomy to psychiatry, but all connect within the theme, making for a unique day of learning, insight and inspiration. We invite you to be a part of TEDxNorthwesternU 2014.
          p(class="lead")
            strong Tickets will go on sale on Monday, March 10 at 5 PM and can be purchased at the link below 

        div(class="span5 offset1")
          button(id="ticket-btn" class="btn btn-large btn-block")
              a(href="https://tedx-northwesternu.eventbrite.com/") Buy tickets now
      div(class="row")
        //- THEME INFRO
        div(class="span6 offset1")
          h3 Our Theme: Crossing Paths
          p Our modern world is an increasingly complex one. The lines between previously distinct spheres of knowledge grow blurred in a fast-paced society where collaboration and interdisciplinary focus is crucial. We invite you to join us to explore ideas at these intersections. TEDxNorthwesternU features 12 speakers who will examine how we cross paths.
        //- PRICING TABLE
        div(class="span4")
          table(id="prices_table" class="table")
            tr
              th
              th Ticket Pricing
              th
            tr
              th Undergraduate
              th Faculty/Staff
              th Graduate/Alumni
            tr
              td $15
              td $25
              td $25
      div(class="row")
        div(class="span6 offset1")
          //- EVENT INFO
          h3 Event Information
          div
            h4 What:
            p A day of engaging speakers dedicated to ideas worth spreading.
            h4 Where:
            p TEDxNorthwesternU is held in the McCormick Tribune Center on the campus of Northwestern University.
            h4 Who:
            p Public seating is limited to 100 ticket holders for each session, with overflow seating available in room 217 of the adjacent Fisk Hall where guests can view a livestream of the talks.
            h4 When:
            p Saturday, April 12, 9 AM-5 PM with performances and a break between sessions
            ul <strong>Session One:</strong> 9 AM - 11:30 AM
            ul <strong>Session Two:</strong> 12 PM - 2:30 PM
            ul <strong>Session Three:</strong> 3 PM - 5 PM
            ul <strong>Reception:</strong> 5 PM - 6 PM


        
