extends layout

block content
  div(class="container")
      h1(id="header_name") Join us!


  div(class="row homepage-section")
    div(class="container")
      div(class="row")
        //- HEADER
        div(class="span8 offset1")
          h1 Attending TEDxNorthwesternU 2014
          p(class="lead") TEDxNorthwesternU is designed around the theme Crossing Paths, featuring speakers from the Northwestern community with ideas worth spreading. The conference is based on an audience ready to engage with these ideas, enter dialogue, and do their part in spreading worthy ideas. It will be a day It will be a great day of encouragement, insight, and inspiration, and we would love for you to be a part of it!
          p(class="lead")
            strong Tickets will go on sale on Saturday, March 8 at 
        //- THEME INFRO
        div(class="span6 offset1")
          h3 Our Theme: Crossing Paths
          p Our modern world is an increasingly complex one. The lines between previously distinct spheres of knowledge grow blurred in a fast-paced society where collaboration and interdisciplinary focus is crucial. We invite you to join us to explore ideas at these intersections. TEDxNorthwesternU features 12 speakers who will examine how we cross paths.
        //- PRICING TABLE
        div(class="span4")
          table(id="prices_table" class="table")
            tr
              th
              th Ticket Pricing
              th
            tr
              th Undergraduate
              th Faculty/Staff
              th Graduate/Alumni
            tr
              td $15
              td $25
              td $20
      div(class="row")
        div(class="span6 offset1")
          //- EVENT INFO
          h3 Event Information
          div(class="indent")
            h4 What:
            p A day of engaging speakers dedicated to ideas worth spreading.
            h4 Where:
            p TEDxNorthwesternU is held in the McCormick Tribune Center on the campus of Northwestern University.
            h4 Who:
            p Public seating is limited to 100 ticket holders for each session, with overflow seating available in room 217 of the adjacent Fisk Hall where a livestream of the talks will be shown.
            h4 When:
            p Saturday, April 12, 9 AM-5 PM
            ul <strong>Session 1:</strong> 9 AM
            ul <strong>Session 2:</strong> 12 PM
            ul <strong>Session 3:</strong> 3 PM


        
