extends layout

block content
  div(class="row")
    div(class="container")
      div(class="row")
        div(class="span12")
          center
            h1(class="section-header") F.A.Q.
    div(class="container")
      div(class="row")
        div(class="span6 offset3")

          //- QUESTIONS
          p(class="lead")
            strong What is TED?
          p TED is a nonprofit that began in 1984 as an annual conference devoted to Technology, Entertainment and Design. TEDTalks now covers science, arts, politics, global issues, architecture, music and more under their umbrella. At the heart of it's philosophy is the tenet of bringing people together to share "Ideas Worth Spreading."
          br

          p(class="lead")
            strong What is TEDx?
          p In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized TED event.
          br

          p(class="lead")
            strong When and where is TEDx NorthwesternU?
          p TEDx NorthwesternU will take place on April 12, 2014. The talks will be given in the auditorium of the McCormick Tribune Center on Northwestern University's campus, and overflow seating will be available next door in Fisk Hall.
          br

          p(class="lead")
            strong Who will speak at TEDx NorthwesternU?
          p Our speakers, once announced, will be visible on our 
            a(href="http://www.tedxnorthwesternu.com/#speakers") homepage.