extends layout



block content
  div(class="container")
      h1(id="header_name") Crossing Paths



  //- TOP SECTION         
  //- div(class="row first-homepage-section")
  //-   div(class="container")
  //-     div(class="row"  style="padding-top:50px;")
  //-       div(class="span5 offset1")
  //-         img(id="theme-logo" src="../images/shuffle.svg")
  //-         //- div(id="shuffle-canvas" style="height: 225px;width: 100%;display: block;margin: auto;")
  //-       div(id="intro_text" class="span5")
  //-         center
  //-           h1(style="color:#000;padding-top:15px; padding-bottom:15px;") Crossing Paths
  //-         p(class="lead") Our modern world is an increasingly complex one. The lines between previously distinct spheres of knowledge grow blurred in a fast-paced society where collaboration and interdisciplinary focus is crucial. We invite you to join us to explore ideas at these intersections. TEDxNorthwesternU features 12 speakers who will examine how we cross paths.

  
        
        

        //- div(class="row")
        //-   div(class="span4 offset4")
        //-     center
        //-       div: a(class="btn btn-primary navbar-btn" href="/about") Learn more about what TEDx is

  
  div(class="row homepage-section" id="main-section")
    div(class="container")
      div(class="row")
        div(class="span4")
          //- About
          h2(class="front-page-subhead") About
          a(href="/about")
            img(id="info-icon" class="front-page-icon" src="../images/purple_info.svg")
        div(class="span4")
          //- Speakers
          h2(class="front-page-subhead") Speakers
          a(href="/speakers")
            img(class="front-page-icon" src="../images/purple_lectern.svg")
        div(class="span4")
          //- Attend
          h2(class="front-page-subhead") Attend
          a(href="/attend")
            img(class="front-page-icon" src="../images/purple_crowd.svg")
      div(class="row")
        div(class="span4")
          //- About
          p(class="lead icon_explanation") TEDx conferences are dedicated to ideas worth spreading. Learn more about how TEDxNorthwesternU will share innovative ideas from right here in the Northwestern community.
            br
            br
            button(class="btn")
              a(href="/about" class="homepage-section-btn") Read more
        div(class="span4")
          //- Speakers
          p(class="lead icon_explanation") TEDxNorthwesternU features 12 extraordinary speakers from the student, alumni and faculty communities. At this year's conference, they will deliver talks on topics from human rights to relationships to space.
            br
            br
            button(class="btn")
              a(href="/speakers" class="homepage-section-btn") Read more
        div(class="span4")
          //- Attend
          p(class="lead icon_explanation") An enthusiastic and engaged audience is the heart of a TEDx event. We hope you can join us on April 12 to help spread some of the amazing ideas our speakers will share.
            br
            br
            button(class="btn")
              a(href="/attend" class="homepage-section-btn") Read more





