extends layout

block content
  //- script(type='text/javascript' src='../javascripts/raphael.js')
  //- script(type='text/javascript' src='../javascripts/homescreen.js')


  //- OLD HOME PAGE
  //- PLACEHOLDER FOR WHEN APPS ARE UP BUT WEBSITE HASN'T YET BEEN MADE
  
  //- div(class="container")
  //-   div(class="row")
  //-     div(class="span8 offset2")
  //-       center
  //-         img(id="big-img" src="../images/tedxnugraphic.png")
  //-     div(class="span6 offset3")
  //-       p(class="lead") What is TED?
  //-       p TED is a nonprofit that began in 1984 as an annual conference devoted to Technology, Entertainment and Design. TEDTalks now covers science, arts, politics, global issues, architecture, music and more under their umbrella. At the heart of it's philosophy is the tenet of bringing people together to share "Ideas Worth Spreading."
  //-       p(class="lead") What is TEDx?
  //-       p In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized TED event. 
  //-       p(class="lead") Who will speak at TEDx NorthwesternU?
  //-       p Nine speakers will present on April 12, 2014: three students, three faculty and three alumni. Have an idea for a talk? Apply below by January 15, 2014!
  //-       center
  //-         form(action="/apply")
  //-           button(class="btn btn-danger" type="submit") Apply


  //- TOP SECTION         
  div(class="row first-homepage-section")
    div(class="container")
      div(class="row")
        div(class="span8 offset2")
          center
            img(src="../images/tedxnuflat.jpg")
      div(class="row"  style="padding-top:50px;")
        div(class="span5 offset1")
          img(src="../images/shuffle.svg")
          //- div(id="shuffle-canvas" style="height: 225px;width: 100%;display: block;margin: auto;")
        div(class="span5")
          center
            h1(style="color:#000;padding-top:15px; padding-bottom:15px;") Crossing Paths
          p(class="lead") Our modern world is an increasingly complex one. The lines between previously distinct spheres of knowledge grow blurred in a fast-paced society where collaboration and interdisciplinary focus is crucial. We invite you to join us to explore ideas at these intersections. TEDxNorthwesternU features 12 speakers who will examine how we cross paths.

  //- ABOUT TEDx SECTION
  div(class="row homepage-section" id="about")
    div(class="container")
      div(class="row")
        div(class="span12")
          center
            h1(class="section-header") Ideas Worth Spreading

        div(class="row icon_row")
          div(class="span2 offset2")
            img(class="little_icon" src="../images/lightbulb.svg")
          div(class="span6")
            p(class="lead")
              strong Learn
            p(class="lead") TEDx NorthwesternU has speakers from a diverse range of backgrounds giving presentations on topics from medicine to morality and psychology to the solar system. Join them on <strong>April 12, 2014</strong> as they share their ideas and research.
          div(class="span2")

        div(class="row icon_row")
          div(class="span2 offset2")
            img(class="little_icon" src="../images/megaphone.svg")
          div(class="span6")
            p(class="lead")
              strong Broadcast
            p(class="lead") Each speaker will give their talk in front of an eager audience of Northwestern students, faculty, alumni and community members. Additionally, each talk will be recorded and available for viewing online.
          div(class="span2")
            img(src="../images/tickets.svg" class="tickets-pic")
        
        div(class="row icon_row")
          div(class="span2 offset2")
            img(class="little_icon_alt" src="../images/globe.svg")
          div(class="span6")
            p(class="lead")
              strong Engage
            p(class="lead") TEDx NorthwesternU is a great chance to meet and interact with innovative thinkers in academia and business. Audience members will get the chance to speak with some of these leaders and learn more about their work.
          div(class="span2")
        
        

        //- div(class="row")
        //-   div(class="span4 offset4")
        //-     center
        //-       div: a(class="btn btn-primary navbar-btn" href="/about") Learn more about what TEDx is


  //- SPEAKER SECTION
  div(class="row homepage-section" id="speakers")
    div(class="container")
      div(class="row")
        div(class="span12")
          center
            h1(class="section-header") Our speakers



    div(class="container")

      //- ALUMNI

      div(class="row")
        center
          h3 Alumni
      div(class="row speaker-row")
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/marissa-jackson.png" alt="...")
              div(class="caption")
                h3(class="talk-title") Human Rights, Sankofa and the Power of Paradigms
                p
                  strong Marissa Jackson
                p "I would like to talk about the Ashanti principle of Sankofa, meaning 'reach back and get it,' in relation to the American abandonment of the human rights movement in favor of civil rights in the 1950s. I will challenge the Northwestern community to consider abandoning the civil rights framework in order to reach back and get the human rights framework."
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/zack-johnson.jpg" alt="..." style="width:75%")
              div(class="caption")
                h3(class="talk-title") Relationship Analytics are Changing the Way We Manage Businesses
                p
                  strong Zachary Johnson
                p "Increases in data available, machine learning capabilities, and business need are forcing organizations to incorporate bleeding edge analytics and blend them with existing methods."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/aysha-chowdry.png" alt="..." style="width:100%")
              div(class="caption")
                h3(class="talk-title") Educating the Future
                p
                  strong Aysha Chowdhry
                p "In Pakistan, many people are trapped in a cycle of poverty so often times educating children is not a priority. In any nation, education contributes to prosperity — expanding opportunities and improving standards of living."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/stephen-dowling.jpg" alt="..." style="width:100%")
              div(class="caption")
                h3(class="talk-title") Schools Should Let Paths Cross More Often
                p
                  strong Stephen Dowling
                p "While 20th century models of education treated subjects as separate bodies of knowledge, 21st century ways of learning fare better when disciplines are allowed to cross paths with each other in substantial, meaningful ways."

      //- FACULTY
      
      div(class="row")
        center
          h3 Faculty
      div(class="row speaker-row")
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/shane-larson.jpg" alt="...")
              div(class="caption")
                h3(class="talk-title") Pluto's Day of Reckoning
                p
                  strong Shane Larson
                p "Sometimes events in science capture the public's attention, providing an opportunity to talk about why science works and why it is important in our everyday lives. The demotion of Pluto as a planet struck a chord with people around the world; people felt personally invested in a bit of science knowledge they had owned since elementary school."
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/linda-van-horn.jpg" alt="...")
              div(class="caption")
                h3(class="talk-title") The Antidote to Obesity is Spelled M-O-M
                p
                  strong Linda Van Horn
                p "We need an interdisciplinary approach, not only between doctors and dietitians but moms themselves. The obesity problem can disappear in 2-3 generations if women, especially mothers, would take charge!"
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/eli-finkel.jpg" alt="...")
              div(class="caption")
                h3(class="talk-title") Technology, Crossing Paths and Romantic Compatibility
                p
                  strong Eli Finkel
                p "Matchmaking sites like eHarmony pitch themselves as an algorithmic leap beyond crossing paths, one that practically assures romantic compatibility. Unfortunately, the 'scientific' methods employed these sites are fundamentally flawed. But scientific and technological innovations are converging, opening the door to a completely new approach to matchmaking algorithms."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/xavier-mcelrath-bey.jpg" style="width:100%")
              div(class="caption")
                h3(class="talk-title") No Child is Born Bad
                p
                  strong Xavier McElrath-Bey
                p "It is my hope to share the important need for at-risk youth to cross paths with positive people and processes in order effectively deter them deviant and destructive lifestyles; just as negative influences and unfair processes can potentially reinforce negative behavior."

      //- STUDENTS
      div(class="row")
        center
          h3 Students
      div(class="row speaker-row")
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/michael-silberblatt.jpg" alt="...")
              div(class="caption")
                h3(class="talk-title") Why Little Red Riding Hood is Wrong
                p
                  strong Michael Silberblatt
                p "Our lives seem to be governed by the 'stay the familiar path' mentality found in everyone’s favorite fairy tale: Little Red Riding Hood. But we experience our greatest personal growth when our paths cross into the unknown and unfamiliar. Perhaps the ‘wolves in the woods’ are merely self-imposed mental hurdles that keep us from discovering our true potential."
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/parag-gupta.jpg" alt="..." style="width:900%")
              div(class="caption")
                h3(class="talk-title") So, Um... 12 Years, Huh?
                p
                  strong Parag Gupta
                p "This is a talk about people and how our people make this university what it is and uphold what the true purpose of a university’s mission should be. I've been here for 12 years as a student; but when I leave to begin my appointment at Harvard, I will depart with my head held high and the biggest smile on my face knowing that all I've been able to acquire here is the result of the people with whom I’ve crossed paths."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/jackson-walker.jpg" alt="..." style:)
              div(class="caption")
                h3(class="talk-title") Finding Your Long Lost Twin
                p
                  strong Jackson Walker
                p "I had the opportunity to return to India last winter, eighteen years after being adopted by my American parents. There I crossed paths with my past for the first time and what I learned will shape my future."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/neha-reddy.png" alt="...")
              div(class="caption")
                h3(class="talk-title") Crossing the Paths of Culture and Human Rights
                p
                  strong Neha Reddy
                p "Culture is often considered in conflict with human rights, evidenced by traditional practices in parts of the world that are deemed harmful and degrading, largely to women and children. My talk will discuss the hidden compatibilities and opportunities for forward progression that culture and human rights pose if we think of them in a new light."

  div(class="row homepage-section" id="faq")
    div(class="container")
      div(class="row")
        div(class="span12")
          center
            h1(class="section-header") F.A.Q.
    div(class="container")
      div(class="row")
        div(class="span6 offset3")
          p(class="lead")
            strong What is TED?
          p TED is a nonprofit that began in 1984 as an annual conference devoted to Technology, Entertainment and Design. TEDTalks now covers science, arts, politics, global issues, architecture, music and more under their umbrella. At the heart of it's philosophy is the tenet of bringing people together to share "Ideas Worth Spreading."
          br
          p(class="lead")
            strong What is TEDx?
          p In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized TED event.
          center
            div: a(class="btn btn-primary navbar-btn" href="/faq") More Frequently Asked Questions






