extends layout

block content
  div(class="container")
      h1(id="header_name") #{speaker}


  //- div(class="row")
  //-   div(class="container")
  //-     div(class="row")
  //-       div(class="span4 offset4")
  //-         button(class="btn") Session One
  //-         button(class="btn") Session Two
  //-         button(class="btn") Session Three

  //- ***********
  //- SESSION ONE
  //- ***********
  div(id="session_one" class="row homepage-section")
    div(class="container")
      div(class="row")