doctype 5
html
  head
    title TEDx NorthwesternU 2014
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    link(rel='stylesheet', href='../stylesheets/style.css')
  body()

    //- NAV BAR
    div(class="navbar navbar-fixed-top navbar-inverse")
      div(class="navbar-inner")
        div(class="container")
          a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          //- a(class="brand") TED x Northwestern U
          div(class="nav-collapse collapse")
            ul(class="nav pull-right")
              li
                form(action="/apply")
                  button(type="submit" class="btn btn-danger navbar-btn") Apply

    div(id="fakerow")
  


    //- CONTENT
    div(class="row" id="main-background")
      block content
    script(type='text/javascript' src='../javascripts/jquery.js')
    script(type='text/javascript' src='../javascripts/bootstrap.js')