doctype 5
html
  head
    title TEDx NorthwesternU 2014
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    link(rel='stylesheet', href='../stylesheets/style.css')
  body(style="background-color: rgb(240,240,240);")

    //- NAV BAR
    div(class="navbar navbar-fixed-top")
      div(class="navbar-inner")
        div(class="container")
          a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          //- a(class="brand") TED x Northwestern U
          //- img(class="brand" style="height:25px;" src="../images/tedxnu-brand.png")
          div(class="nav-collapse collapse")
            ul(class="nav pull-right")
              li
                div: a(class="btn btn-danger navbar-btn" href="/apply") Apply

    div(id="fakerow")
  


    //- CONTENT
    
    
    script(type='text/javascript' src='../javascripts/jquery.js')
    script(type='text/javascript' src='../javascripts/bootstrap.js')
    block content