extends layout

block content
  div(class="container")
    div(class="row")
      h1 Incorrect password.
      form(action="/viewapps")
        button(type="submit" class="btn btn-danger") Return to Home Page