
div(class="row homepage-section" id="speakers")
  div(class="container")
    div(class="row")
      div(class="span12")
        center
          h1(class="section-header") Our speakers



  div(class="container")

    //- ALUMNI

    div(class="row")
      center
        h3 Alumni
    div(class="row speaker-row")
      div(class="span3")
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Human Rights, Sankofa and the Power of Paradigms
              p
                strong Marissa Jackson
              p "I will challenge the Northwestern community to consider abandoning the civil rights framework in order to reach back and get the human rights framework."
      div(class="span3")
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Relationship Analytics are Changing the Way We Manage Businesses
              p
                strong Zachary Johnson
              p "Increases in data available, machine learning capabilities, and business need are forcing organizations to incorporate bleeding edge analytics and blend them with existing methods."
      div(class="span3")  
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Educating the Future
              p
                strong Aysha Chowdry
              p "In any nation, education contributes to prosperity — expanding opportunities and improving standards of living."
      div(class="span3")  
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Schools Should Let Paths Cross More Often
              p
                strong Stephen Dowling
              p "While 20th century models of education treated subjects as separate bodies of knowledge, 21st century ways of learning fare better when disciplines are allowed to cross paths with each other in substantial, meaningful ways."

    //- FACULTY
    
    div(class="row")
      center
        h3 Faculty
    div(class="row speaker-row")
      div(class="span3")
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Pluto's Day of Reckoning
              p
                strong Shane Larson
              p "Cool quote that sums up the gist of my talk and intrigues potential audiences"
      div(class="span3")
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") The Antidote to Obesity is Spelled M-O-M
              p
                strong Linda Van Horn
              p "Cool quote that sums up the gist of my talk and intrigues potential audiences"
      div(class="span3")  
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Technology, Crossing Paths and Romantic Compatibility
              p
                strong Eli Finkel
              p "Cool quote that sums up the gist of my talk and intrigues potential audiences"
      div(class="span3")  
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") No Child is Born Bad
              p
                strong Xavier McElrath-Bey
              p "Cool quote that sums up the gist of my talk and intrigues potential audiences"

    //- STUDENTS
    div(class="row")
      center
        h3 Students
    div(class="row speaker-row")
      div(class="span3")
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Why Little Red Riding Hood is Wrong
              p
                strong Michael Silberblatt
              p "Cool quote that sums up the gist of my talk and intrigues potential audiences"
      div(class="span3")
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") So, Um... 12 Years, Huh?
              p
                strong Parag Gupta
              p "Cool quote that sums up the gist of my talk and intrigues potential audiences"
      div(class="span3")  
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Finding Your Long Lost Twin
              p
                strong Jackson Walker
              p "Cool quote that sums up the gist of my talk and intrigues potential audiences"
      div(class="span3")  
        div(class="col-sm-6 col-md-4")
          div(class="thumbnail")
            img(data-src="../javascripts/holder.js/300x200/social" alt="...")
            div(class="caption")
              h3(class="talk-title") Crossing the Paths of Culture and Human Rights
              p
                strong Neha Reddy
              p "Cool quote that sums up the gist of my talk and intrigues potential audiences"