extends layout

block content
  div(class="container")
      h1(id="header_name") Our Speakers


  //- div(class="row")
  //-   div(class="container")
  //-     div(class="row")
  //-       div(class="span4 offset4")
  //-         button(class="btn") Session One
  //-         button(class="btn") Session Two
  //-         button(class="btn") Session Three

  //- ***********
  //- SESSION ONE
  //- ***********
  div(id="session_one_section" class="row homepage-section")
    div(class="container")
      div(class="row")
        //- HEADER
        div(class="span12 session-row")
          h1 Session One
      br
      

      //- ELI FINKEL
      div(class="row speaker-row")
        div(class="span2")
          img(class="speaker_pic" src="../images/speaker-pics/eli-finkel.jpg" alt="...")

        div(class="span4")
          h3 What Would a Successful Mathmaking Algorithm Look Like?
          p
            strong Eli Finkel
          button(class="btn")
            a(class="homepage-section-btn" href="speaker/eli-finkel") Learn more about this talk and speaker
        div(class="span6")
          p(class="lead") Over the past few years, new technological developments and new insights into human psychology are converging in a way that will revolutionize matchmaking. This talk offers a glimpse into a romantic future that is, as of 2014, finally within our grasp.
      

      //- Parag Gupta
      div(class="row speaker-row")
        div(class="span2")
          img(class="speaker_pic" src="../images/speaker-pics/parag-gupta.jpg" alt="...")

        div(class="span4")
          h3 So, um... 12 Years, huh?
          p
            strong Parag Gupta
          button(class="btn")
            a(class="homepage-section-btn" href="speaker/parag-gupta") Learn more about this talk and speaker
        div(class="span6")
          p(class="lead") Over the past few years, new technological developments and new insights into human psychology are converging in a way that will revolutionize matchmaking. This talk offers a glimpse into a romantic future that is, as of 2014, finally within our grasp.
      

      //- Jackson Walker
      div(class="row speaker-row")
        div(class="span2")
          img(class="speaker_pic" src="../images/speaker-pics/jackson-walker.jpg" alt="...")

        div(class="span4")
          h3 Finding Your Long Lost Twin
          p
            strong Jackson Walker
          button(class="btn")
            a(class="homepage-section-btn" href="speaker/jackson-walker") Learn more about this talk and speaker
        div(class="span6")
          p(class="lead") Over the past few years, new technological developments and new insights into human psychology are converging in a way that will revolutionize matchmaking. This talk offers a glimpse into a romantic future that is, as of 2014, finally within our grasp.
      

      //- Marissa Jackson
      div(class="row speaker-row")
        div(class="span2")
          img(class="speaker_pic" src="../images/speaker-pics/marissa-jackson.jpg" alt="...")

        div(class="span4")
          h3 Human Rights, Sankofa and the Power of Paradigms
          p
            strong Marissa Jackson
          button(class="btn")
            a(class="homepage-section-btn" href="speaker/marissa-jackson") Learn more about this talk and speaker
        div(class="span6")
          p(class="lead") Over the past few years, new technological developments and new insights into human psychology are converging in a way that will revolutionize matchmaking. This talk offers a glimpse into a romantic future that is, as of 2014, finally within our grasp.



    




























    div(class="container")  

      //- ALUMNI

      div(class="row")
        center
          h3 Alumni
      div(class="row speaker-row")
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/marissa-jackson.png" alt="...")
              div(class="caption")
                h3(class="talk-title") Human Rights, Sankofa and the Power of Paradigms
                p
                  strong Marissa Jackson
                p "I would like to talk about the Ashanti principle of Sankofa, meaning 'reach back and get it,' in relation to the American abandonment of the human rights movement in favor of civil rights in the 1950s. I will challenge the Northwestern community to consider abandoning the civil rights framework in order to reach back and get the human rights framework."
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/zack-johnson.jpg" alt="..." style="width:75%")
              div(class="caption")
                h3(class="talk-title") Relationship Analytics are Changing the Way We Manage Businesses
                p
                  strong Zachary Johnson
                p "Increases in data available, machine learning capabilities, and business need are forcing organizations to incorporate bleeding edge analytics and blend them with existing methods."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/aysha-chowdhry.jpg" alt="..." style="width:75%")
              div(class="caption")
                h3(class="talk-title") Educating the Future
                p
                  strong Aysha Chowdhry
                p "In Pakistan, many people are trapped in a cycle of poverty so often times educating children is not a priority. In any nation, education contributes to prosperity — expanding opportunities and improving standards of living."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/stephen-dowling.jpg" alt="..." style="width:100%")
              div(class="caption")
                h3(class="talk-title") Schools Should Let Paths Cross More Often
                p
                  strong Stephen Dowling
                p "While 20th century models of education treated subjects as separate bodies of knowledge, 21st century ways of learning fare better when disciplines are allowed to cross paths with each other in substantial, meaningful ways."

      //- FACULTY
      
      div(class="row")
        center
          h3 Faculty
      div(class="row speaker-row")
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/shane-larson.jpg" alt="...")
              div(class="caption")
                h3(class="talk-title") Pluto's Day of Reckoning
                p
                  strong Shane Larson
                p "Sometimes events in science capture the public's attention, providing an opportunity to talk about why science works and why it is important in our everyday lives. The demotion of Pluto as a planet struck a chord with people around the world; people felt personally invested in a bit of science knowledge they had owned since elementary school."
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/linda-van-horn.jpg" alt="...")
              div(class="caption")
                h3(class="talk-title") The Antidote to Obesity is Spelled M-O-M
                p
                  strong Linda Van Horn
                p "We need an interdisciplinary approach, not only between doctors and dietitians but moms themselves. The obesity problem can disappear in 2-3 generations if women, especially mothers, would take charge!"
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/eli-finkel.jpg" alt="...")
              div(class="caption")
                h3(class="talk-title") Technology, Crossing Paths and Romantic Compatibility
                p
                  strong Eli Finkel
                p "Matchmaking sites like eHarmony pitch themselves as an algorithmic leap beyond crossing paths, one that practically assures romantic compatibility. Unfortunately, the 'scientific' methods employed these sites are fundamentally flawed. But scientific and technological innovations are converging, opening the door to a completely new approach to matchmaking algorithms."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/xavier-mcelrath-bey.JPG" style="width:100%")
              div(class="caption")
                h3(class="talk-title") No Child is Born Bad
                p
                  strong Xavier McElrath-Bey
                p "It is my hope to share the important need for at-risk youth to cross paths with positive people and processes in order effectively deter them deviant and destructive lifestyles; just as negative influences and unfair processes can potentially reinforce negative behavior."

      //- STUDENTS
      div(class="row")
        center
          h3 Students
      div(class="row speaker-row")
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/michael-silberblatt.jpg" alt="...")
              div(class="caption")
                h3(class="talk-title") Why Little Red Riding Hood is Wrong
                p
                  strong Michael Silberblatt
                p "Our lives seem to be governed by the 'stay the familiar path' mentality found in everyone’s favorite fairy tale: Little Red Riding Hood. But we experience our greatest personal growth when our paths cross into the unknown and unfamiliar. Perhaps the ‘wolves in the woods’ are merely self-imposed mental hurdles that keep us from discovering our true potential."
        div(class="span3")
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/parag-gupta.jpg" alt="..." style="width:900%")
              div(class="caption")
                h3(class="talk-title") So, Um... 12 Years, Huh?
                p
                  strong Parag Gupta
                p "This is a talk about people and how our people make this university what it is and uphold what the true purpose of a university’s mission should be. I've been here for 12 years as a student; but when I leave to begin my appointment at Harvard, I will depart with my head held high and the biggest smile on my face knowing that all I've been able to acquire here is the result of the people with whom I’ve crossed paths."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/jackson-walker.jpg" alt="..." style:)
              div(class="caption")
                h3(class="talk-title") Finding Your Long Lost Twin
                p
                  strong Jackson Walker
                p "I had the opportunity to return to India last winter, eighteen years after being adopted by my American parents. There I crossed paths with my past for the first time and what I learned will shape my future."
        div(class="span3")  
          div(class="col-sm-6 col-md-4")
            div(class="thumbnail")
              img(src="../images/speaker-pics/neha-reddy.png" alt="...")
              div(class="caption")
                h3(class="talk-title") Culture and Human Rights: Narratives of Ethiopian Identity
                p
                  strong Neha Reddy
                p "Culture is often considered in conflict with human rights, evidenced by traditional practices in parts of the world that are deemed harmful and degrading, largely to women and children. My talk will discuss the hidden compatibilities and opportunities for forward progression that culture and human rights pose if we think of them in a new light."
