extends layout

block content
  div(class="container")
    h1(id="header_name") Sponsors

  div(class="row homepage-section")
    div(class="container")
      div(class="row")
        //- HEADER
        div(class="span6 offset3")
          p(class="lead") TEDxNorthwesternU 2014 would not be possible without the generous support of our sponsors. We thank them for their contributions to the mission of ideas worth spreading.
      
      //- McCormick
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(src="../images/mccormick.jpg" class="sponsor-img")

      //- Deloitte
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(src="../images/deloitte_sponsor.jpg" class="sponsor-img")

      //-  Provost (seal)
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="nu-seal-sponsor" src="../images/northwestern-university-seal.png" class="sponsor-img")

      //-  Notary
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="nna-sponsor" src="../images/nna-sponsor.png" class="sponsor-img")


      //- Medill
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(src="../images/medill_sponsor.png" class="sponsor-img")

      //- EY
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="ey-sponsor" src="../images/ey.png" class="sponsor-img")

      //- Alumtalks
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="alumtalks-sponsor" src="../images/alumtalks.png" class="sponsor-img")

      //- Alumni Assc
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="alumni-sponsor" src="../images/alumni-sponsor.jpg" class="sponsor-img")

      //- SESP
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="sesp-sponsor" src="../images/sesp-sponsor.png" class="sponsor-img")

      //- PHA
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="pha-sponsor" src="../images/pha-sponsor.jpg" class="sponsor-img")

      //- Rvue
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="rvue-sponsor" src="../images/rvue_logo.jpg" class="sponsor-img")