extends layout

block content
  div(class="container")
    h1(id="header_name") Sponsors

  div(class="row homepage-section")
    div(class="container")
      div(class="row")
        //- HEADER
        div(class="span8")
          p(class="lead") TEDxNorthwesternU 2014 would not be possible without the generous support of our sponsors. We thanks them for their contributions to the mission of ideas worth spreading.
      div(class="row" id="sponsor-row")
        div(class="span6")
          img(src="../images/alumtalks.png" class="sponsor-img")
        div(class="span6")
          img(src="../images/ey.png" class="sponsor-img")