extends layout

block content
  div(class="container")
    h1(id="header_name") Sponsors

  div(class="row homepage-section")
    div(class="container")
      div(class="row")
        //- HEADER
        div(class="span6 offset3")
          p(class="lead") TEDxNorthwesternU 2014 would not be possible without the generous support of our sponsors. We thank them for their contributions to the mission of ideas worth spreading.
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(src="../images/mccormick.jpg" class="sponsor-img")
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(src="../images/alumtalks.png" class="sponsor-img")
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="ey-sponsor" src="../images/ey.png" class="sponsor-img")
      div(class="row" id="sponsor-row")
        div(class="span6 offset3")
          img(id="rvue-sponsor" src="../images/rvue_logo.jpg" class="sponsor-img")