extends layout

block content
  div(class="container")
      h1(id="header_name") Our team


  div(class="row homepage-section")
    div(class="container")


      div(class="row")
        h2(class="team-title-header") Co-Directors
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/nikita-ramanujam.png")
          h3 Nikita Ramanujam
          p Nikita is a junior in the School of Education and Social Policy. She has been involved with a few things on campus but she she'd rather tell you about the people she met rather than the activity. Nikita is constantly amazed and humbled by her colleagues and peers and looks forward to hearing and spreading some wonderful ideas.
          a(class="lead" href="mailto:NikitaRamanujam2015@u.northwestern.edu") Contact
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/michele-weldon.png")
          h3 Michele Weldon
          p Michele Weldon, co-director of TEDxNorthwesternU 2014, is an assistant professor emerita in service at Northwestern University’s Medill School. She is an author, journalist and director of NU’s Public Voices Fellowship. She is a senior leader with The OpEd Project, directs Youth Narrating Our World and writes for New York Times, CNN, Chicago Tribune, Slate, the Guardian, Christian Science Monitor and more. She has narrated TED-Ed lessons and does live storytelling for The Moth.
          a(class="lead" href="mailto:m-weldon@northwestern.edu") Contact

      div(class="row team-position-row")
        h2(class="team-title-header") Logistics
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/josephine-lee.png")
          h3 Josephine Lee
          p Josephine is a native Chicagoan and a senior studying Learning and Organizational Change. She’s the President of EPIC, Northwestern’s entrepreneurship student group. Jo also enjoys working out, reading, cooking for friends and family, and learning new things.
          a(class="lead" href="mailto:leejosephinem@gmail.com") Contact
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/alekya-rajanala.png")
          h3 Alekya Rajanala
          p Alekya Rajanala is a freshman in Weinberg College of Arts and Sciences and the Honors Program in Medical Education. She plans to major in anthropology at Northwestern, with a concentration in Human Biology. Alekya is involved with Brown Sugar, an award-winning South Asian a cappella group on campus. She enjoys volunteering, trying new foods, and traveling with her family. Alekya joined the TEDx team because of her previous experience with TEDx in high school, and because she loves to be inspired by the fascinating ideas that TED presents. Her favorite TED talk is Brene Brown's "The power of vulnerability."
          a(class="lead" href="mailto:alekyarajanala2017@u.northwestern.edu") Contact

      div(class="row team-position-row")
        h2(class="team-title-header") Sponsorship and Fundraising
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/emilie-greenberg.png")
          h3 Emilie Greenberg
          p Emilie is a Weinberg freshman from nearby Highland Park, Illinois. She is majoring in Mathematical Methods in the Social Sciences with additional interests in History and Economics. Outside of the classroom, she is also involved in ISBE Analytics and Challah for Hunger.  Emilie is incredibly excited to be a part of the TEDxNorthwesternU team; she believes that it will be a successful event and looks forward helping it all happen from start to finish.
          a(class="lead" href="mailto:emiliegreenberg2017@u.northwestern.edu") Contact
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/chloe-padula.png")
          h3 Chloe Padula
          p Chloe is a junior studying Political Science and Economics. She is a varsity coxswain for Northwestern Crew, works for GlobeMed National Office, and is a member of Kappa Delta Sorority. She's excited to join the TEDx Team to gain more fundraising experience and to remind members of the Northwestern community that we all have unique and incredible skills and ideas that are worth sharing. Her favorite TED Talk is <a href="http://www.youtube.com/watch?v=72yU2a2DXMw">"Tourette Does the Talking" by Thomas White.</a>
          a(class="lead" href="mailto:chloepadula2015@u.northwestern.edu") Contact

      div(class="row team-position-row")
        h2(class="team-title-header") Finance
        div(class="span4 offset4 team-profile")
          //- img(src="../images/team-pics/alex-ge.png")
          h3 Alex Ge
          p Alex is a WCAS Class of 2017 student at Northwestern University. He is a pre-medical student with an undeclared major, currently exploring interests in piano, biology, and global health. Alex is pleased to be on finance with this year's amazing executive board, and wishes all speakers the best of luck this coming April! 
          a(class="lead" href="mailto:alexge2017@u.northwestern.edu") Contact

      div(class="row team-position-row")
        h2(class="team-title-header") Community Relations
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/sowa-imoisili.png")
          h3 Sowa Imoisili
          p Sowa Imoisili is a sophomore from Ellicott City, Maryland double majoring in Psychology and Economics. She has a passion for creative writing, people, and exploration. In her free time, Sowa enjoys reading, volunteering and staying active. She is fascinated by the power that a single idea can have and is excited to see the impact that TED will have on campus and beyond.
          a(class="lead" href="mailto:osasunmasowaimoisili2016@u.northwestern.edu") Contact
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/taimur-rehan.png")
          h3 Taimur Rehan
          p Taimur Rehan is a freshman majoring in Psychology with a minor in Global Health. A San Diego native, Taimur has organized TEDx events for the last two years, and emceed the 2013 conference. He pursues a philosophy of living life to the fullest, and has a passion for biomedical research, singing and dancing, and traveling. He is the Co-Community Relations Chair for TEDxNorthwesternU 2014, and plans to be a TEDx speaker himself in the future.
          a(class="lead" href="mailto:taimurrehan2016@u.northwestern.edu") Contact

      div(class="row team-position-row")
        h2(class="team-title-header") Media and Design
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/corey-mcmahon.png")
          h3 Corey McMahon
          p Corey is a junior at Northwestern majoring in Computer Science originally from Columbus, Ohio. As his major suggests, he is interested all computers, programming and all kinds of technology. In his free time, Corey likes classic movies, listening to music, reading and getting into shenanigans with his friends.
          a(class="lead" href="mailto:coreymcmahon2015@u.northwestern.edu") Contact
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/melissa-yanan.png")
          h3 Melissa Yanan
          p Melissa Yanan is a junior majoring in Learning and Organizational Change and minoring in Computer Science. Aside from TEDxNorthwestern, Melissa stays involved on campus as the current VP Membership of NU's chapter of 85 Broads, and as a member of Pi Beta Phi and Women in Computing. Melissa enjoys traveling, reading about technology, meeting new people, and watching apocalyptic films.
          a(class="lead" href="mailto:melissayanan2015@u.northwestern.edu") Contact

      div(class="row team-position-row")
        h2(class="team-title-header") Marketing
        div(class="span3 offset2 team-profile")
          img(src="../images/team-pics/natasha-ramanujam.png")
          h3 Natasha Ramanujam
          p Originally from the great state of California, Natasha Ramanujam is a junior at Northwestern pursuing a degree in both French Horn Performance and Global Health Studies. She is a graduate of the Walnut Hill School for the Arts and hopes to pursue a future career in either medicine of public health. Natasha is excited to work with the rest of the TEDx team and she can't wait to hear all the amazing ideas our speakers have.
          a(class="lead" href="mailto:NatashaRamanujam2015@u.northwestern.edu") Contact
        div(class="span3 offset2 team-profile")
          //- img(src="../images/team-pics/david-tyson.png")
          h3 David Tyson
          p David Tyson is a sophomore from Wilmette, IL. He is currently pursuing a double major in majoring in Economics and International Studies with a minor in German. This past summer,David interned with a microfinance bank in Jinja, Uganda where he consulted and advised local businesses. On campus, David serves as a Community Assistant and is an active participant in NU|Tutors and his fraternity. In his free time, David love running along Lake Michigan and watching terrible reality TV on Netflix. 
          a(class="lead" href="mailto:davidtyson2016@u.northwestern.edu") Contact










  