/**********************/
/* GLOBAL STYLE SHEET */
/**********************/
/* Kinda bad practice */
/* But who cares. *****/
/**********************/

#logo-brand {
  height:35px !important;
}

.pull-right > li > a {
  font-size: 18px !important;
  margin-top: 5px !important;
}

@media only screen and (min-width:320px){
  #header_name {
    color:rgb(95,68,155);
    font-size: 50px;
  }

}
@media only screen and (min-width:480px){
  
}
@media only screen and (min-width:768px){

  #header_name{
    margin-top: -60px;
    color: #fff;
  }
  
}
@media only screen and (min-width:1024px){

}
@media only screen and (min-width:1296px){
  #header_name {
    font-size: 80px;
    margin-top: -88px;
  }
}


.homepage-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-header {
  font-size: 70px;
  color:rgb(95,68,155);
  padding-bottom: 40px;
  line-height: 70px;
}

.icon_row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.talk-title {
  line-height: 30px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.thumbnail > img {
  width:80%;
}

/*OVERRIDING BOOTSTRAP NAVBAR STYLING*/

.navbar-inner {
  background-color: #fff; 
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  box-shadow: none !important;
  border-color: rgb(95,68,155) !important;
}

.nav > li > a {
  color: rgb(95,68,155) !important;
  font-weight: bold;
}

.nav > li > a:hover {
  color: rgb(255,43,6) !important;
}


/*FRONT PAGE STUFF*/
.front-page-subhead {
  text-align: center;

}

.front-page-icon {
  width: 70%;
  margin-left: 15%;
}

#info-icon {
  width:60%;
  margin-left: 20%;
}

.icon_explanation {
  text-align: center;
  width: 70%;
  margin-left: 15%;
}

a.homepage-section-btn {
  color: rgb(95,68,155);
}

/* FOOTER */

#footer {
  background-color: rgb(95,68,155);
  color: #fff;
  margin-top: 35px;
}

#footer-social {
  text-align: center;

}

/*TICKETS PAGE*/

#prices_table {
  border: solid 3px rgb(95,68,155);
  border-radius: 25px;
}

#prices_table > tr > td {
  text-align: center !important;
}

.indent {
  margin-left: 50px;
}

/* SPEAKERS PAGE */

.session-row {
  border-bottom: solid 2px rgb(95, 68, 155);
  text-align: center;
}

.speaker_pic {
  width: 80%;
  height: auto;

}

.speaker-row {
  padding-top:20px;
  padding-bottom: 20px;
}






